.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: #f3e5d8;
    font-family: 'Outfit', sans-serif;
    padding: 1.9rem 2.5rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.6;
}

/* Container */
.container{
    background-color: white;
    width: 46em;
    margin: auto;
    border-radius: 25px;
    padding: 30px;
}
.container img{
    display: block;
    max-width: 100%;
    border-radius: 0.6rem;
}
.container h1{
    font-family: 'Young Serif', serif;
    line-height: 1.6rem;
    margin-top: 1.8rem;
    letter-spacing: 0.2rem;
}


/* Preparation */
.prepar{
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
    padding: 5px;
}
.prepar h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 27px;
    top: 8px;
    font-weight: bold;
    color: hsl(332, 51%, 32%);
}
.prepar ul li{
    list-style-type: none;
}
.prepar li::before {
    content: "•";
    color: hsl(332, 51%, 32%);
    font-size: 20px;
    position: absolute;
    left: 2px;
    top: 0;
    line-height: 1;
}
.prepar ul li b{
    font-family: 'Young Serif', serif;
}


/* Ingredients */
/* .Ingre h2{
    color: hsl(14, 45%, 36%);
}
.Ingre ul li{
    padding-left: 15px;
} */

.Ingre {
    list-style-type: none;
    padding-left: 0;
    
}
.Ingre h2{
    color: brown;
}
.Ingre ul{
    padding: 0;
}
.Ingre li {
    position: relative;
    padding-left: 20px;
    list-style-type: none;
}

.Ingre li::before {
    content: "•";
    color: brown;
    font-size: 20px;
    position: absolute;
    left: 2px;
    top: 0;
    line-height: 1;
}

.Ingre li span{
    padding-left: 25px;
}
.Ingre ul hr{
    color: hsl(30, 54%, 90%);
}